<div class="container">
<div id="logo"> <img src="helpers/img/Sky-Viper-M200-Nano-Drone-300x244.png" width="60" height="60"></div>
  <h1>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drone controllers
  </h1>
  <nav id="nav">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Add Drone</a>
      </li>
      <li>
        <a href="#">Add delivery</a>
      </li>
      <li>
        <a href="#">Select Drone</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </nav>
</div>
